.dataProxy {
    font-size: 14px;
    background-color: #f5f6fb;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-left: 300px;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

.proxyList {
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 500px;

}